<a href="https://colab.research.google.com/github/sejinseo/Python/blob/main/py20_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 필요한 모듈을 import
import pandas as pd # DataFrame, Series
import seaborn as sns # 시각화(그래프) 패키지. 예제 데이터프레임.

# tips DataFrame

In [2]:
# seaborn 패키지의 'tips' 예제 데이터셋을 로드
tips = sns.load_dataset('tips')

In [3]:
type(tips)

pandas.core.frame.DataFrame

In [4]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
# DataFrame의 모양(shape) -> (rows, columns)
tips.shape

(244, 7)

In [7]:
# DataFrame의 컬럼 이름들
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [8]:
# DataFrame의 행 인덱스
tips.index

RangeIndex(start=0, stop=244, step=1)

In [10]:
# DataFrame의 첫 5개 행을 출력
tips.head(5) # argument n의 기본값 = 5

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
tips.iloc[:5]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
# DataFrame에서 마지막 5개 행 출력
tips.tail(5)

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [14]:
tips.iloc[-5:]

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [15]:
# DataFrame의 연속형 변수(숫자 타입 변수)들의 기술 통계량
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [16]:
# 카테고리 타입 변수 요약 - 빈도수
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [18]:
tips['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [19]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [20]:
tips['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [30]:
# total_bill(영수증 금액)이 최댓값
tips[tips['total_bill'] == tips['total_bill'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [32]:
# total_bill이 최솟값인 행을 출력
tips[tips.total_bill == tips.total_bill.min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [36]:
# total_bill이 최댓값이거나 최솟값인 행을 출력
tips[(tips['total_bill'] == tips['total_bill'].max()) | (tips['total_bill'] == tips['total_bill'].min())]

     total_bill   tip     sex smoker  day    time  size
67         3.07   1.0  Female    Yes  Sat  Dinner     1
170       50.81  10.0    Male    Yes  Sat  Dinner     3